---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contato',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <Features2
    title="Fale conosco"
    items={[
      {
        title: 'Fone',
        description: '+55 (21) 2266-8300',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'mape@iesp.uerj.br',
        icon: 'tabler:mail',
      },
      {
        title: 'Endereço',
        description: 'Rua da Matriz, 82, Botafogo, Rio de Janeiro',
        icon: 'tabler:map-pin',
      },
    ]}
  />

  <div class="relative w-full h-96">
    
    <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229.6201783959596!2d-43.19192236992027!3d-22.95306809169957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997fe7275265f1%3A0xdd4fa59362ecc0e0!2sInstituto%20de%20Estudos%20Sociais%20e%20Pol%C3%ADticos%20da%20Universidade%20do%20Estado%20do%20Rio%20de%20Janeiro!5e0!3m2!1spt-BR!2sbr!4v1711561684092!5m2!1spt-BR!2sbr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</Layout>
