---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Sobre',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="grupo"
    tagline="Grupo"
  >
    <Fragment slot="title">
      Sobre o <span class="text-accent dark:text-white highlight">MAPE</span>
    </Fragment>

    <Fragment slot="content">
    Por que alguns governos conseguem investir mais em saúde e educação do que outros? Como sabemos se uma política alcançou seus objetivos iniciais? Reeleger governantes faz diferença na vida da população? <br><br>

    Essas e outras perguntas falam diretamente sobre o funcionamento da democracia e estão no centro das preocupações de governos, organizações e academia no Brasil e no mundo. Respondê-las, no entanto, requer sólido treinameto teórico e metodológico, bem como capacidade de transitar por campos disciplinares distintos para que possamos compreender o <span class="italic">Estado em ação</span>. <br><br>
    
    O <span class="text-accent font-bold">MAPE</span> tem como objetivo central ser um catalisador de pessoas com o conhecimento necessário para responder a essas perguntas. Nossa missão é produzir evidência científica para intervir decisivamente em debates públicos sobre o funcionamento da nossa democracia no seu aspecto mais central — como ela afeta a vida das pessoas.
    </Fragment>
  </Hero>

    <!-- Steps2 Widget ****************** -->

    <Steps2
    id="linhas"
    tagline="Investigação"
    title="Nossas linhas de pesquisa"
    subtitle="Conduzimos pesquisas para entender as conexões entre eleições, representação política e políticas públicas. Atuamos em três linhas principais: eleições, avaliação de políticas públicas e política das políticas públicas."
    items={[
      {
        title: 'Eleições e representação',
        description:
          'Eleições são mecanismos de controle dos eleitores sobre os políticos. Por isso mesmo, entender até que ponto representantes transformam em políticas as preferências da população é fundamental para a democracia, objetivo central desta linha de pesquisa. ',
      },
      {
        title: 'Avaliação de políticas públicas',
        description:
        'Como avaliar se uma política cumpriu seus objetivos? Como monitorar a sua execução e implementação? Como a população reage a mudanças do <span class="italic">status quo?</span> Essas questões motivam esta linha de pesquisa.',
      },
      {
        title: 'A política das políticas públicas',
        description:
        'Como políticas públicas afetam o desempenho eleitoral de políticos? Como estes alocam recursos públicos? Quais atores se envolvem no processo de formulação da agenda de políticas? Essas e outras questões são abordadas nessa linha, com foco em políticas distributivas, redistributivas e regulatórias.',
      },
    ]}
  />

  <!-- Quem somos *********** -->

  <Testimonials
    id="quem"
    tagline="Pesquisadores"
    title="Conheça nossa equipe"
    testimonials={[
      {
        name: 'Bruno Schaefer',
        job: 'Coordenador',
        email: "mailto:bruno.schaefer@iesp.uerj.br",
        image: {
          src: 'https://iesp.uerj.br/wp-content/uploads/2023/05/Bruno-Schaefer.png',
          alt: 'Bruno Schaefer',
        },
      },
      {
        name: 'Fernando Meireles',
        job: 'Coordenador',
        website: 'https://fmeireles.com',
        twitter: 'https://twitter.com/fmeireles',
        email: "mailto:fernando.meireles@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/9180210634743879",
        image: {
          src: 'https://fmeireles.com/img/headshot.jpeg',
          alt: 'Fernando Meireles',
        },
      },
      {
        name: 'Olga Caldas',
        job: 'Coordenadora adjunta',
        email: "mailto:olga.silva@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/4502687676884144",
        image: {
          src: '~/assets/images/olga.jpg',
          alt: 'Olga Caldas',
        },
      },
      {
        name: 'Roberta Carnelos Resende',
        job: 'Pesquisadora associada',
        email: "mailto:roberta_carnelos@yahoo.com.br",
        lattes: "http://lattes.cnpq.br/1629983424418711",
        image: {
          src: '~/assets/images/roberta.jpg',
          alt: 'Roberta Resende',
        },
      },
      {
        name: 'Sergio Simoni Junior',
        job: 'Pesquisador associado',
        website: "https://dcp.fflch.usp.br/sergio-simoni-junior",
        twitter: "https://twitter.com/SergioSimoniJr",
        email: "mailto:sergiojr_ssj@yahoo.com.br",
        lattes: "http://lattes.cnpq.br/6401711397044450",
        image: {
          src: '~/assets/images/sergio.jpeg',
          alt: 'Sergio Simoni Junior',
        },
      },
      {
        name: 'Twig Lopes',
        job: 'Pesquisadora',
        email: 'twiglopes@gmail.com',
        lattes: 'http://lattes.cnpq.br/9035187491241781',
        website: 'https://pucrj.academia.edu/TwigLopes',
        image: {
          src: '~/assets/images/twig.png',
          alt: 'Twig Lopes',
        },
      },
      {
        name: 'Karolina Mattos Roeder',
        job: 'Pesquisadora associada',
        website: "https://uninter.academia.edu/KarolinaMattosRoeder",
        twitter: "https://twitter.com/karolroeder",
        email: "mailto:karolina.r@uninter.com",
        lattes: "http://lattes.cnpq.br/4060556525932093",
        image: {
          src: '~/assets/images/karolina.jpg',
          alt: 'Karolina Mattos Roeder',
        },
      },
      {
        name: 'Lucas Gelape',
        job: 'Pesquisador associado',
        website: "https://lgelape.github.io/",
        twitter: "https://x.com/lgelape",
        email: "mailto:lgelape@gmail.com",
        lattes: "http://lattes.cnpq.br/3351203825226101",
        image: {
          src: '~/assets/images/gelape.png',
          alt: 'Lucas Gelape',
        },
      },
      {
        name: 'Flávia Bozza',
        job: 'Pesquisadora associada',
        lattes: "http://lattes.cnpq.br/1494895098804362",
        image: {
          src: '~/assets/images/flavia.png',
          alt: 'Flávia Bozza',
        },
      },
      {
        name: 'Mateus Araujo',
        job: 'Pesquisador associado',
        email: 'mateus.m.araujo@gmail.com',
        lattes: "http://lattes.cnpq.br/0443273880738085",
        image: {
          src: '~/assets/images/mateus.png',
          alt: 'Mateus Araujo',
        },
      },
      {
        name: 'Karime Lima',
        job: 'Pesquisadora',
        email: "mailto:karimerlima@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/6684363735418716",
        image: {
          src: '~/assets/images/karime.jpeg',
          alt: 'Karime Lima',
        },
      },
      {
        name: 'Carlos Freitas',
        job: 'Pesquisador',
        email: "mailto:carlosfreitas@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/8182191496208755",
        image: {
          src: '~/assets/images/carlos.png',
          alt: 'Carlos Freitas',
        },
      },
      {
        name: 'Tomás Paixão Borges',
        job: 'Pesquisador',
        email: "mailto:tomasborges@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/3344384689183707",
        image: {
          src: '~/assets/images/tomas.png',
          alt: 'Tomás Paixão Borges',
        },
      },
      {
        name: 'Liliane Gobetti Fagundes',
        job: 'Pesquisadora',
        linkedin: "https://www.linkedin.com/in/liliane-gobetti-fagundes-b892491a4/",
        email: "mailto:liliane.fagundes@ufpe.br",
        lattes: "http://lattes.cnpq.br/2547577907243118",
        image: {
          src: '~/assets/images/liliane.jpg',
          alt: 'Liiane Gobetti Fagundes',
        },
      },
      {
        name: 'Rodolfo Souza Tavares',
        job: 'Pesquisador',
        email: "mailto:rodolfotavares@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/3748758252979646",
        image: {
          src: '~/assets/images/rodolfo.jpg',
          alt: 'Rodofo Souza Tavares',
        },
      },
      {
        name: 'Luisa Barreto Fernandes',
        job: 'Pesquisadora',
        email: "mailto:luisafernandes@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/3137346068473474",
        image: {
          src: '~/assets/images/luisa.jpeg',
          alt: 'Luísa Barreto Fernandes',
        },
      },
      {
        name: 'Frederico Augusto',
        job: 'Pesquisador',
        email: "mailto:fredericofilho@iesp.uerj.br",
        lattes: "http://lattes.cnpq.br/4153021224044822",
        linkedin: "https://www.linkedin.com/in/frederico-augusto-auad-de-gomes-filho-a6b328185/",
        image: {
          src: '~/assets/images/fred.jpeg',
          alt: 'Frederico Augusto',
        },
      },
      {
        name: 'Shamira Rossi',
        job: 'Pesquisadora',
        lattes: "http://lattes.cnpq.br/5014890797196233",
        image: {
          src: '~/assets/images/shamira.png',
          alt: 'Shamira Rossi',
        },
      },
      {
        name: 'Alice Barreto',
        job: 'Pesquisadora',
        lattes: "https://lattes.cnpq.br/7065514181912244",
        image: {
          src: '~/assets/images/alice_barreto.png',
          alt: 'Alice Barreto',
        },
      },
      {
        name: 'Jorge Nery',
        job: 'Pesquisador',
        image: {
          src: '~/assets/images/jorge_nery.png',
          alt: 'Jorge Nery',
        },
      },
      {
        name: 'Ana Virgínia',
        job: 'Pesquisadora',
        image: {
          src: '~/assets/images/anavirginia.png',
          alt: 'Ana Virgínia',
        },
      },
      {
        name: 'Fernanda Pinheiro',
        job: 'Pesquisadora',
        image: {
          src: '~/assets/images/fernandapinheiro.png',
          alt: 'Fernanda Pinheiro',
        },
      },
    ]}
  />

</Layout>
